/*http://paletton.com/#uid=50Y0u0kqroEiABrmqthsLimAA95*/
/*http://paletton.com/#uid=7070R0kpyvZevUXkLIssqnuv29P*/
* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
}

.content-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

.title h1{
  margin: 0 auto;
  font-size: 2.5em;
}

.title .content {
  flex-direction: column;
}

.title .content img {
  height: 6em;
  width: 6em;
  margin: 0 auto;
}

.flex-item {
  width: 45%;
}

.question-container {
  padding: 20px;
}

.question {
  font-style: italic;
  min-height: 2.75em;
}

.answer {
  margin-top: 20px;
}

.title {
  background-color: #4E0E02;
  color: white;
}

.faq {
  background-color: #4E0E02;
  color: white;
}

.email {
  background-color: #FFD98C;
}

.email .content {
  text-align: center;
}

footer {
  height: 40px;
  align-items: center;
  background-color: #4E3502;
  color: white;
}

.copyright {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.copyright p {
  font-size: 0.8em;
  margin: 0 auto;
  width: 50%;
}

.email-link {
  color: white;
  text-decoration: none;
}

.react {
  flex-direction: column;
}

.signup {
  margin: 10px auto;
}

.success {
  color: #26BB58;
}

.error {
  color: #BB2F15;
}

.whatever {
  color: #4E3502;
}

.res {
  padding: 0;
  margin: 0;
  font-size: 0.75em;
}

.not-loading {
  display: none;
}

.input {
  border-width: thin;
  border-color: #4E0E02;
  border-style: solid;
  width: 300px;
}

.input-button {
  background-color: #4E0E02;
  border: none;
  color: white;
}

input {
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
  text-align: center;
}

.response {
  height: 1em;
}

.question-hr {
  display: none;
}

@media (max-width:700px) {
  .content {
    flex-direction: column;
  }

  .flex-item {
    width: 100%;
  }

  .question-container {
    padding: 0;
  }

  .question-hr {
    display: inherit;
    width: 50%;
  }
}
